extends ../layout

block content
	style(scoped).
		form {
			margin-top: 20px;
		}
		.field .choice { display: none; }
		.field .choice.active { display: block; }
	script(src='/js/admin/dashboard.js')

	h1= title
	p Welcome you, #{username}!

	form#logout(method='post', action='/api/auth/logout')
		input(type='submit', value='Logout')

	form#request(method='post')
		select(name='_method')
			each val in ['POST', 'PUT', 'DELETE']
				option(value=val)= val
		input.url(type='text', placeholder='URL')
		.fields
			mixin field(type)
				.field
					select.type
						each val in ['text', 'file']
							option(value=val)= val
					input.key(type='text', placeholder='Key')
					textarea.choice.text.active(placeholder='Value')
					input.choice.file(type='file')
			+field()
			+field()
		input.add(type='button', value='+')
		input(type='submit', value='Submit')
