extends ../layout

block content
  style(scoped).
    .box {
      margin: 30px;
    }

  h1= title
  p Welcome you, #{username}!
  p
    form(method='post', action='/auth/logout')
      input(type='submit', value='Logout')
