doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/plugins/alertify/alertify.core.css')
		link(rel='stylesheet', href='/plugins/alertify/alertify.default.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='/plugins/jquery-2.0.3.min.js')
		script(src='/plugins/jquery.cookie-1.4.0.js')
		script(src='/plugins/alertify/alertify.min.js')
		script(src='/js/layout.js')
	body
		block content
