body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif !important;
}
a {
  color: #00B7FF;
}
.pure-g-r {
  letter-spacing: 0!important;
}
#footer {
  margin-top: 40px;
  padding: 20px 40px;
  background-color: #EEE;
  font-size: 12px;
}
