extends ../layout

block content
	h1= album.title

	ul.pictures
		each picture in album.pictures
			li.picture(data-id=picture._id)
				div
					img(src='/albums/'+album._id+'/pictures/'+picture._id+'/image')
					p= picture.desc
